/* default styles */
body{
  background-color: rgb(33,33,33);
  max-width: 100%;
  overflow-x: hidden;
  height:7000px;
  margin:0;
  scrollbar-width:0;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

html{
  scroll-behavior: smooth;
}

p{
  color: white;
  font-family: 'Lato', Arial;
}

/* scroll bar */
body::-webkit-scrollbar{
  width:0.25rem;
}

body::-webkit-scrollbar-track{
  background-color:rgb(32,32,32);
}

body::-webkit-scrollbar-thumb{
  background-color:rgba(80, 187, 230,0.5);
}

/* space for navbar */
main{
  margin-left:5rem;
}

/* navbar */
.navbar{
  position: fixed;
  background-color:rgb(44,44,44);
  transition: 100ms ease;
}

.logo{
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:1rem;
  text-align:center;
  color: rgb(70, 195, 245);
  background:rgba(80, 187, 230,0.5);
  font-size:1.5rem;
  letter-spacing: 0.3ch;
  width:100%;
}

.logo svg{
  transform: rotate(-180deg);
  transition: transform 600ms;
  width:20%;
}

.navbar:hover .logo svg{
  transform: rotate(-140deg);
  width:20%;
}

.navbar-nav{
  list-style:none;
  padding:0;
  margin:0;
  display: flex;
  flex-direction:column;
  align-items: center;
  height:100%;
}

.nav-item{
  width:100%;
  transition:200ms;
}

.nav-item:hover{
  background: rgb(32,32,32);
}

.nav-item:last-child{
  margin-top:auto;
}

.nav-link{
  display:flex;
  align-items: center;
  height: 5rem;
  color: rgb(32,32,32);
  text-decoration:none;
  transition: 600ms;
}

.link-text{
  color: rgb(70, 195, 245);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  line-height: 100%;
  width: 231px;
  display:none;
  margin-left:1rem;
  transition: 600ms;
}

.nav-link svg{
  min-width:2rem;
  margin: 0 1.5rem;
}

path{
  fill:rgb(70, 195, 245);
  transition:200ms;
}

/* small screen navbar*/
@media only screen and (max-width:600px){
  .navbar{
    bottom:0;
    width:100vw;
    height:5rem;
  }

  .navbar:hover{
    width:100vw;
  }

  .path{
    width:20%;
  }

  .path:hover{
    width:20%;
  }

  .logo{
    display:none;
  }

  .navbar-nav{
    flex-direction:row;
  }

  .nav-link{
    justify-content: center;
  }

  main{
    margin:0;
  }

}

/* large screen navbar */
@media only screen and (min-width:600px){
  .navbar{
    top:0;
    width:5rem;
    height:100vh;
  }
  
  .navbar:hover{
    width:16rem;
    transition: width 300ms;
  }

  .navbar:hover .link-text{
    display:inline;
    transition: opacity 600ms;
  }
}

/* main info styles */
.center{
  display: flex;
  justify-content:center;
  align-items: center;
  display:block;
  height: 175px;
}

.top-info{
  font-size: 25px;
  line-height: 38px;
  line-height: 100%;
  width: 231px;
  margin-top: 180px;
  margin-bottom: 20px;
  margin-left: calc(50% - 231px/2)
}

.highlight{
  color:rgb(70, 195, 245);
  text-decoration: underline;
}

.mid-info{
  font-size: 32px;
  line-height: 38px;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: calc(50% - 457px/2)
}

.bot-info{
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: calc(50% - 520px/2)
}

.top-info,.mid-info,.bot-info,.froge{
  opacity:0;
  position:relative;
  bottom:-40px;
  transition: all 0.8s ease-out;
}

.up-slide{
  opacity:1;
  bottom:0;
}

/* floating image */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.img{
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

/* social media icon styles */
.social-media{
  font-size:30px;
  color:rgb(80, 187, 230);
  margin-left:calc(50% - 92px/2);
}

i{
  transition: rgba 0.15s;
}

i:hover{
  color:rgba(80, 187, 230,0.7);
}

i:active{
  color:rgba(80, 187, 230,0.5);
}

/*------ABOUT ME-------*/

.about-me{
  height:400px;
  display:flex;
  margin-top:500px;
}

.about-title{
  font-size:70px;
  font-weight:bold;
  margin-top:75px;
  margin-left:100px; 
  width:500px;
}

.about-subtitle{
  font-size:30px; 
  width:900px; 
  margin-left:100px;
}

.about-line{
  margin-left:100px;
  color:rgb(80, 187, 230);
}

.about-info-left{
  font-size:40px; 
  margin-top:100px; 
  width:700px; 
  margin-left:325px; 
  text-align:center;
  line-height:60px;
}

.about-info-right{
  font-size:40px; 
  margin-top:300px; 
  width:700px; 
  text-align:center;
  line-height:60px;
}

.side-by-side{
  flex:100%;
}

.about-title,.about-subtitle,.about-line,.about-info-left,.pfp,.slider-frame2{
  opacity:0;
  position: relative;
  left: -40px;
  transition: all 0.8s ease-out;
}

.slider-frame,.about-info-right{
  opacity:0;
  position: relative;
  right: -40px;
  transition: all 0.8s ease-out;
}

.right-slide{
  opacity: 1;
  left:0;
}

.left-slide{
  opacity:1;
  right:0;
}

/*---------SLIDE ANIMATION--------*/

@-webkit-keyframes slide_animation{
  0% {left:-450px;}
  7%{left:-450px;}
  14%{left:0px;}
  21%{left:0px;}
  28%{left:450px;}
  35%{left:450px;}
  42%{left:900px;}
  49%{left:900px;}
  56%{left:450px;}
  63%{left:450px;}
  70%{left:0px;}
  77%{left:0px;}
  84%{left:-450px;}
  91%{left:-450px;}
  100%{left:-450px;}
}

@-webkit-keyframes slide_animation2{
  0% {top:0px;}
  10%{top:0px;}
  20%{top:450px;}
  30%{top:450px;}
  40%{top:900px;}
  50%{top:900px;}
  60%{top:450px;}
  70%{top:450px;}
  80%{top:0px;}
  90%{top:0px;}
  100%{top:0px;}
}

.slider-frame{
  overflow:hidden;
  height:450px;
  width:450px;
  margin-left:100px;
  margin-top:20px;
  border-radius:100px;
}

.slider-frame2{
  overflow:hidden;
  height:450px;
  width:450px;
  margin-left:350px;
  margin-top:300px;
  border-radius:100px;
}

.slide-images{
  width:1800px;
  height:450px;
  margin: 0 0 0 -900px;
  position: relative;
  -webkit-animation-name:slide_animation;
  -webkit-animation-duration:33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state: running;
}

.slide-images2{
  width:450px;
  height:1350px;
  margin: -900px 0 0 0;
  position: relative;
  -webkit-animation-name:slide_animation2;
  -webkit-animation-duration:33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state: running;
}

.img-container{
  height:450px;
  width:450px;
  object-fit:cover;
  position:relative;
  float:left;
}

.fade-out{
  opacity:0;
  position: relative;
  transition: all 0.8s ease-out;
}

.skills-title{
  font-family: 'Lato', Arial;
  color:white;
  font-size:70px;
  font-weight:bold;
  margin-top:300px;
  margin-left:350px; 
  width:500px;
}

.inventor, .solidworks, .granta{
  width:300px;
  height:300px;
  margin-top:150px;
  margin-left:350px;
  position:relative;
}

.outer{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-top:100px;
  height:300px;
  width:300px;
  border-radius:50%;
  padding:20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),  
              -6px -6px 10px -1px rgba(0,0,0,0.15)  

} 

.inner{
  height:260px;
  width:260px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(0,0,0,0.15),
              -0.5px -0.5px 0px rgba(0,0,0,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0 12px 10px -10px rgba(0,0,0,0.05);   
}

#inventor-number,#solidworks-number,#granta-number{
  font-family: 'Lato', Arial;
  font-weight:600px;
  font-size:50px;
  color:white;
}

.inventor-circle,.solidworks-circle,.granta-circle{
  fill:none;
  stroke:url(#GradientColor);
  stroke-width:40px;
  stroke-dasharray: 944;
  stroke-dashoffset: 944;
}

.inventor-circle{
  animation:inventor 2s linear forwards;
}

.solidworks-circle{
  animation: solidworks 2s linear forwards;
}

.granta-circle{
  animation: granta 2s linear forwards;
}

.skill-bar{
  position:relative;
  top:-350px;
  left:-10px;
}

@keyframes inventor{
  100%{
    stroke-dashoffset: 189;
  }
}

@keyframes solidworks{
  100%{
    stroke-dashoffset: 472;
  }
}

@keyframes granta{
  100%{
    stroke-dashoffset: 629;
  }
}
